<div *ngIf="auth.isAuthenticated">
    <mat-card class="card-container">
        <mat-tab-group color="primary" >
            <mat-tab label="Your offers">
                <app-user-offers *ngIf = "transactions" [transactions] = "transactions"></app-user-offers>
                <p *ngIf="!transactions"> You haven't any available offers</p>
            </mat-tab> 
            <mat-tab label="Create new offer"><app-new-offer></app-new-offer></mat-tab>
            <mat-tab label="History"><app-offers-history></app-offers-history></mat-tab>
          </mat-tab-group>

    </mat-card>
</div>
<app-not-logged *ngIf="!auth.isAuthenticated"></app-not-logged>

<!-- //user-offers -->