<div class="price">Price: {{ transaction.price }}$</div>


<div class="title"><mat-slide-toggle  *ngIf="isLogged" color="primary" [disabled]="!subscribedList && tryingToSub" [checked]="subscribedList?.indexOf(transaction.id) > -1? true:false"  (change)="sub_or_unsub()">Subscribe offer</mat-slide-toggle><h3>User details</h3></div>
<div class="data">
          <div class="panel">
          <mat-divider></mat-divider>
          <p>Username:{{ transaction.username }} <mat-icon color="warn">account_circle</mat-icon></p>
          <mat-divider></mat-divider>
          <p>Phone number:{{ transaction.phone }}  <mat-icon color="warn">phone_android</mat-icon></p>
          <mat-divider></mat-divider>
          <p>Localization:{{ transaction.location_city }}  <mat-icon color="warn">email</mat-icon></p>
          <mat-divider></mat-divider>
          <p>Email:{{ transaction.email }}  <mat-icon color="warn">location_on</mat-icon></p>
          <mat-divider></mat-divider>
          <p>Creation date: {{ transaction.creationDate | date}} <mat-icon color="warn">date_range</mat-icon></p>
          <mat-divider></mat-divider>
          <div *ngIf="watchers"><p>Visitors: {{ watchers }} <mat-icon color="warn">remove_red_eye</mat-icon></p>
          <mat-divider></mat-divider></div>
          </div>
</div>


