<p>
  <mat-toolbar color="primary" class="navbar">
    <span class="dealer"><a routerLink="/search" routerLinkActive="active"><button mat-flat-button    color="primary" class="dealer">CarDealer<mat-icon>domain</mat-icon></button></a></span>
    <span class="spacer"></span>
    <span class="dealer"><a routerLink="/auth" routerLinkActive="active"><button mat-flat-button    color="primary" class="dealer">Login<mat-icon>login</mat-icon></button></a></span>
  </mat-toolbar>
</p>
<div class="content-container">
<router-outlet></router-outlet>
</div>