.charts{
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: auto;
    justify-content: center;
}
h3{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 90%;
    margin: auto;
    font-weight: bolder;
}
