$theme-col: brown;
$second-theme-col:cornflowerblue;

mat-spinner{  margin:auto;  margin-top: 10%; }

mat-grid-list{
    width: 90%;
    margin: auto;
    background-color: lavender;
    border-radius: 15px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}  

.search-btn{
    width: 500px!important;
    min-width: unset!important;
    background-color: $theme-col;
}

.filter-options{
    display: grid;
    grid-template-columns: 35% auto 35%;
    padding-top: 1%;
    button{
        max-height: 70%;
        margin:auto

    }
}

mat-label{ color: $theme-col !important;}

.theme-col { color: $theme-col !important;}

.mat-option.mat-active {  background: lavenderblush !important;  }

::ng-deep .mat-select-value{    color: $theme-col!important;  }
    
    
.border{
border-radius: 8px !important;

}
.card-container{
    
    width: 95%;
    margin:auto;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}