<p>
  <mat-card class="card-container">
  <mat-grid-list cols="16" rowHeight="100">
    
    <mat-grid-tile colspan="2" >
      <mat-form-field appearance="fill" >
        <mat-label>Car type</mat-label>
        <mat-select [(ngModel)]="car_type">
          <mat-option class = "theme-col" *ngFor="let options of distinctCarTypes" [value]="options[0]">
            {{options[0]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill" >
        <mat-label>Car model</mat-label>
        <mat-select [(ngModel)]="car_model" [disabled]="!car_mark" >
          <mat-option class = "theme-col" *ngFor="let options of distinctCarModels" [value]="options[0]">
            {{options[0]}} ({{options[1]}})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill" >
        <mat-label>Car mark</mat-label>
        <mat-select [(ngModel)]="car_mark" (selectionChange)="onSelectMark()">
          <mat-option class = "theme-col" *ngFor="let options of distinctCarMarks" [value]="options[0]">
            {{options[0]}} ({{options[1]}})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill" >
        <mat-label>Production year (from)</mat-label>
        <mat-select [(ngModel)]="production_year_from" (selectionChange)="onSelectProductionYearFrom()">
          <mat-option class = "theme-col" *ngFor="let option of production_years_from" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill" >
        <mat-label>Production year (to)</mat-label>
        <mat-select [(ngModel)]="production_year_to">
          <mat-option class = "theme-col" *ngFor="let option of production_years_to" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill" >
        <mat-label>State</mat-label>
        <mat-select [(ngModel)]="state">
          <mat-option class = "theme-col" value="damaged">Damaged</mat-option>
          <mat-option class = "theme-col" value="undamaged">Undamaged</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill" >
        <mat-label>Mileage (from)</mat-label>
        <mat-select [(ngModel)]="mileage_from" (selectionChange)="onSelectMileageFrom()">
          <mat-option class = "theme-col" *ngFor="let option of mileage_from_array" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill" >
        <mat-label>Mileage (to)</mat-label>
        <mat-select [(ngModel)]="mileage_to">
          <mat-option class = "theme-col" *ngFor="let option of mileage_to_array" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill" >
        <mat-label>Fuel type</mat-label>
        <mat-select [(ngModel)]="fuel_type">
       
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill" >
        <mat-label>Price (from)</mat-label>
        <mat-select [(ngModel)]="price_from" (selectionChange)="onSelectPriceFrom()">
          <mat-option class = "theme-col" *ngFor="let option of price_from_array" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill" >
        <mat-label>Price (to)</mat-label>
        <mat-select [(ngModel)]="price_to">
          <mat-option class = "theme-col" *ngFor="let option of price_to_array" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    
    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill" >
        <mat-label>Capacity (from)</mat-label>
        <mat-select [(ngModel)]="capacity_from" (selectionChange)="onSelectCapacityFrom()">
          <mat-option class = "theme-col" *ngFor="let option of capacity_from_array" [value]="option">
            {{ option.toFixed(2) }}L
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill" >
        <mat-label>Capacity (to)</mat-label>
        <mat-select [(ngModel)]="capacity_to">
          <mat-option class = "theme-col" *ngFor="let option of capacity_to_array" [value]="option">
            {{ option.toFixed(2) }}L
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill" >
        <mat-label>Gearbox </mat-label>
        <mat-select [(ngModel)]="gearbox">
          <mat-option class = "theme-col" value="manual">
            Manual
          </mat-option>
          <mat-option class = "theme-col" value="automatic">
            Automatic
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill" >
        <mat-label>Power (from)</mat-label>
        <mat-select [(ngModel)]="power_from" (selectionChange)="onSelectPowerFrom()">
          <mat-option class = "theme-col" *ngFor="let option of power_from_array" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill" >
        <mat-label>Power (to)</mat-label>
        <mat-select [(ngModel)]="power_to">
          <mat-option class = "theme-col" *ngFor="let option of power_to_array" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>

  <div class="filter-options">


    <mat-form-field appearance="fill" class="reduce-width">
      <mat-label>Sort by:</mat-label>
      <mat-select [(ngModel)]="sort" (selectionChange)="onSortChange()">
        <mat-option value="1">
          Price asc
        </mat-option>
        <mat-option value="2">
          Price desc
        </mat-option>
        <mat-option value="3">
          Creation date asc
        </mat-option>
        <mat-option value="4">
          Creation date desc
        </mat-option>
      </mat-select>
    </mat-form-field>


    <button mat-flat-button color="primary" class="search-btn" (click)="onSearch()">Search offers            
      <mat-icon>search</mat-icon>   
    </button>
    
    <mat-paginator [length]="transactions ? transactions.length : 0"
      [pageSize]="pageSize"
      [pageSizeOptions]="[6, 10, 20]" (page)="pageEvent = $event">
    </mat-paginator>
  </div>
  </mat-card>
</p>



<p><mat-spinner *ngIf="isLoading" diameter="150"></mat-spinner></p>
<p><app-offers-tile *ngIf="transactions?.length>0 && !isLoading" [transactions] = "transactions_selector(transactions)" [results] = "transactions.length"></app-offers-tile></p>