

.mat-grid-tile .mat-figure.mat-figure {
    justify-content: flex-start;
    align-items: flex-start;
 }


mat-card::ng-deep.mat-card-header-text {
    width: 100%;
  }
  .images{height:80% !important;   width: 20% !important;}
carousel, img{width: 100% !important;}

app-offer-text{
  width: 65%;
}