.mat-grid-tile .mat-figure.mat-figure {
    justify-content: flex-start;
    align-items: flex-start;
 }


mat-card::ng-deep.mat-card-header-text {
    width: 100%;
  }

.images{height:80% !important;   width: 20% !important;}

carousel, img{width: 100% !important; height: 100% !important;}

app-offer-text{width: 65%;}

.card-container{
  width: 95%;
  margin:auto;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
