.scrapped-offers{
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: auto;
    
}
h3{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 90%;
    margin: auto;
    font-weight: bolder;
}

mat-card{
    width: 95%;
    margin:auto !important;
}
table{

    table-layout: fixed; 
    width: 100%;
    margin-bottom: 3%;
    border: 1px solid black;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}


tr:nth-child(even) {
    background-color: lavender;
  }

.card-container{
    box-shadow: 3 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    margin-top: 1% !important;
    margin-bottom: 1% !important;
}