<div *ngFor="let transaction of transactions">
    <mat-card class="card-container">
        <carousel *ngIf="transaction.images.length > 1" [images]="images" [cellsToScroll]="1" [dots]="true" [loop] = "true" ></carousel>
        <img *ngIf="transaction.images.length <= 1" [src]="img">
        <div class="info">
        <header>
            <h3> {{ transaction.title }}</h3>
            <h4>{{ transaction.tags }}</h4>
        </header>
        <footer>
            <mat-icon>remove_red_eye</mat-icon>5
        </footer>
       </div>
        <div class="buttons">
        <button mat-flat-button matRipple matRippleRadius='1' color="primary"  routerLink="/offer" routerLinkActive="active" >Zobacz ofertę</button>
        <button mat-flat-button matRipple matRippleRadius='1' color="accent"  routerLink="/offer" routerLinkActive="active" >Edytuj ofertę</button>
        <button mat-flat-button matRipple matRippleRadius='1' color="warn"  routerLink="/offer" routerLinkActive="active" >Usuń ofertę</button>
        </div>
    </mat-card>
</div> 
