<div *ngIf="transactions">
<div *ngFor="let transaction of transactions">
    <mat-card class="card-container">
        <img *ngIf="transaction.images?.length > 0" [src]="transaction.images[0]">
        <img *ngIf="transaction.images.length < 1" [src]="img">
        <div class="info">
        <header>
            <h3> {{ transaction.title }}</h3>
            <h4>{{ transaction.tags }}</h4>
        </header>
       </div>
        <div class="buttons">
        <button mat-flat-button matRipple matRippleRadius='1' color="primary"  [routerLink]="['/offer',transaction.id]" routerLinkActive="active" >View offer</button>
        <button mat-flat-button matRipple matRippleRadius='1' color="warn"  (click)="deleteOffer(transaction.id)">Delete offer</button>
        </div>
    </mat-card>
</div> 
</div>
<mat-card *ngIf="transactions?.length<1" class="card-container">You haven't any available offers</mat-card>
