<div class="title"><h3>Offer details:</h3></div>

<div class="details">
    <h3><b>Title:</b> {{ transaction.title }}</h3>
    <h3><b>Tags:</b> {{ transaction.tags }}</h3>
    <h3><b>Car make:</b> {{ transaction.mark }}</h3>
    <h3><b>Car model:</b> {{ transaction.model }}</h3>
    <h3><b>Production year:</b> {{ transaction.production_year }}</h3>
    <h3><b>Mileage:</b> {{ transaction.mileage }} KM</h3>
    <h3><b>Capacity:</b> {{ transaction.capacity }} L</h3>
    <h3><b>Fuel type:</b> {{ transaction.fuelType }}</h3>
    <h3><b>Power:</b> {{ transaction.power }}</h3>
    <h3><b>Transmission:</b> {{ transaction.gearbox }}</h3>
    <h3><b>VIN:</b> {{ transaction.vin }}</h3>
    <h3><b>Color:</b> {{ transaction.color }}</h3>
    <h3><b>State:</b> {{ transaction.state }}</h3>
</div>