<div class="title"><h3>Offer details:</h3></div>

<div class="details">
    <h3>Title: {{ transaction.title }}</h3>
    <h3>Tags: {{ transaction.tags }}</h3>
    <h3>Car mark: {{ transaction.mark }}</h3>
    <h3>Car model: {{ transaction.model }}</h3>
    <h3>Production year: {{ transaction.production_year }}</h3>
    <h3>Mileage: {{ transaction.mileage }}</h3>
    <h3>Pojemnosc skokowa: {{ transaction.capacity }}</h3>
    <h3>Fuel type: {{ transaction.fuelType }}</h3>
    <h3>Power: {{ transaction.power }}</h3>
    <h3>GearBox: {{ transaction.gearbox }}</h3>
    <h3>VIN: {{ transaction.vin }}</h3>
    <h3>Color: {{ transaction.color }}</h3>
    <h3>State: {{ transaction.state }}</h3>
</div>