<div class="title"><h3>Offer details:</h3></div>

<div class="details">
    <h3>Title:</h3>
    <h3>Tags:</h3>
    <h3>Car mark:</h3>
    <h3>Car model:</h3>
    <h3>Production year:</h3>
    <h3>Mileage:</h3>
    <h3>Pojemnosc skokowa:</h3>
    <h3>Fuel type:</h3>
    <h3>Power:</h3>
    <h3>GearBox:</h3>
    <h3>VIN:</h3>
    <h3>Color:</h3>
    <h3>State:</h3>
    
    <!-- <p>
    
        zachęcam do kupna samochodu w najbogatszej wersji Executive. Auto kupione w Polsce w salonie Karlik w Poznaniu. Jestem drugim właścicielem. Auto serwisowane wyłącznie w ASO. Wszystkie przeglądy wykonywane były przed sugerowanym przez producenta terminem(wraz z wymianą oleju przekładniowego w automatycznej skrzyni biegów). Ostatnia wymiana oleju, kompletu filtrów wraz z regulacją zaworów wykonana pod koniec sierpnia 2020. Zainstalowałem najdroższą na rynku instalację LPG - Landi Renzo, której wszystkie przeglądy wykonywałem również przed sugerowanym przez producenta terminem(ostatni przegląd na przełomie lipca/sieprnia 2020. Auto garażowane. Założone są nowe opony całoroczne. Ostatni przegląd rejestracyjny - 05.09.2020. Auto posiada drobne, parkingowe usterki lakiernicze.
        Zachęcam do kontaktu, chętnie odpowiem na wszystkie pytania.</p> -->
    </div>