<mat-card class="login">
    <!-- <h1>Please log in!</h1> -->
    <a routerLink="/search" routerLinkActive="active"><button mat-flat-button  color="primary" class="dealer">CarDealer<mat-icon>domain</mat-icon></button></a>

    <div class="fields">
    <form [formGroup]="formGroup">
    <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput formControlName="username"  required type="text" >
      </mat-form-field>

      <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password"  required type="password">
      </mat-form-field>
      </div>


      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email"  required type="email" placeholder="Ex. xyz@example.com">
          <mat-error *ngIf="formGroup.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </form>
    </div>
      <div>
        <div>
          <div>
            <button mat-flat-button color="primary" class="search-btn" (click)="onRegister()" [disabled]="!formGroup.valid">Register <mat-icon>login</mat-icon></button>
          </div>
        </div>
      </div>


      <div class="registered"> <p>Already registered?</p><a routerLink="/auth" routerLinkActive="active">Click here</a></div>

</mat-card>
